*.avi
.empty
.ipynb_checkpoints/
__pycache__/

/infos/paper/

/pytorch/
/pytorch_old/

/models/
/runs/
/eval_output/
/data_precomputed*/

/old/overfit_test/runs/
/old/overfit_test/data/
/old/overfit_test/data_10_samples/
/old/overfit_test/data_whole_video/

/old/overfit_dense_model/

/data/MOT17/
/data/MOT15/
/data/MOT16/

/old/old_eval_results/
old/eval_output/
